---
- name: Install WhiteSur Theme
  hosts: localhost
  tasks:
    - name: Install dependencies
      become: yes
      package:
        name:
          - gnome-tweaks
          - gnome-shell-extensions
          - git
          - make
          - gettext
          - sassc
        state: present


    - name: Clone WhiteSur GTK Theme
      git:
        repo: https://github.com/vinceliuice/WhiteSur-gtk-theme.git
        dest: "{{ ansible_facts['user_dir'] }}/WhiteSur-gtk-theme"
        depth: 1
        update: no

    - name: Install WhiteSur GTK Theme (Dark Solid)
      shell: ./install.sh -c dark -o solid
      args:
        chdir: "{{ ansible_facts['user_dir'] }}/WhiteSur-gtk-theme"
      changed_when: false

    - name: Clone WhiteSur Icon Theme
      git:
        repo: https://github.com/vinceliuice/WhiteSur-icon-theme.git
        dest: "{{ ansible_facts['user_dir'] }}/WhiteSur-icon-theme"
        depth: 1
        update: no

    - name: Install WhiteSur Icon Theme
      shell: ./install.sh
      args:
        chdir: "{{ ansible_facts['user_dir'] }}/WhiteSur-icon-theme"
      changed_when: false

    - name: Clone WhiteSur Cursors
      git:
        repo: https://github.com/vinceliuice/WhiteSur-cursors.git
        dest: "{{ ansible_facts['user_dir'] }}/WhiteSur-cursors"
        depth: 1
        update: no

    - name: Install WhiteSur Cursors
      shell: ./install.sh
      args:
        chdir: "{{ ansible_facts['user_dir'] }}/WhiteSur-cursors"
      changed_when: false

    - name: Clone WhiteSur Wallpapers
      git:
        repo: https://github.com/vinceliuice/WhiteSur-wallpapers.git
        dest: "{{ ansible_facts['user_dir'] }}/WhiteSur-wallpapers"
        depth: 1
        update: no

    - name: Install WhiteSur Wallpapers
      shell: ./install-gnome-backgrounds.sh
      args:
        chdir: "{{ ansible_facts['user_dir'] }}/WhiteSur-wallpapers"
      changed_when: false

    - name: Set GTK Theme to WhiteSur-Dark-Solid
      dconf:
        key: "/org/gnome/desktop/interface/gtk-theme"
        value: "'WhiteSur-Dark-solid'"

    - name: Set Icon Theme to WhiteSur-dark
      dconf:
        key: "/org/gnome/desktop/interface/icon-theme"
        value: "'WhiteSur-dark'"

    - name: Set Cursor Theme to WhiteSur-cursors
      dconf:
        key: "/org/gnome/desktop/interface/cursor-theme"
        value: "'WhiteSur-cursors'"

    - name: Enable User Themes Extension
      command: gnome-extensions enable user-theme@gnome-shell-extensions.gcampax.github.com
      ignore_errors: yes

    - name: Set Shell Theme to WhiteSur-Dark-Solid
      dconf:
        key: "/org/gnome/shell/extensions/user-theme/name"
        value: "'WhiteSur-Dark-solid'"
      ignore_errors: yes

    - name: Configure Dash2Dock Lite (Optional defaults)
      dconf:
        key: "/org/gnome/shell/extensions/dash2dock-lite/dock-location"
        value: "3"  # 3 = BOTTOM

    - name: Configure Dash2Dock Lite (MacOS Style)
      dconf:
        key: "{{ item.key }}"
        value: "{{ item.value }}"
      loop:
        - { key: "/org/gnome/shell/extensions/dash2dock-lite/dock-location", value: "3" }  # BOTTOM
        - { key: "/org/gnome/shell/extensions/dash2dock-lite/icon-size", value: "48" }
        - { key: "/org/gnome/shell/extensions/dash2dock-lite/autohide-dash", value: "false" }
        - { key: "/org/gnome/shell/extensions/dash2dock-lite/animation-fps", value: "60" }
        - { key: "/org/gnome/shell/extensions/dash2dock-lite/animation-spread", value: "0.5" }
        - { key: "/org/gnome/shell/extensions/dash2dock-lite/animation-magnify", value: "0.25" }
      ignore_errors: yes
