---
- name: Install Zsh and configuration
  hosts: localhost
  tasks:
    - name: Install Zsh and Git
      become: yes
      package:
        name:
          - zsh
          - git
        state: present

    - name: Clone Oh-My-Zsh
      git:
        repo: https://github.com/ohmyzsh/ohmyzsh.git
        dest: ~/.oh-my-zsh
        update: no

    - name: Install zsh-autosuggestions
      git:
        repo: https://github.com/zsh-users/zsh-autosuggestions
        dest: ~/.oh-my-zsh/custom/plugins/zsh-autosuggestions
        update: no

    - name: Install zsh-syntax-highlighting
      git:
        repo: https://github.com/zsh-users/zsh-syntax-highlighting.git
        dest: ~/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
        update: no

    - name: Get zsh path
      command: which zsh
      register: zsh_path
      changed_when: false

    - name: Ensure zsh is in /etc/shells
      become: yes
      lineinfile:
        path: /etc/shells
        line: "{{ zsh_path.stdout }}"
        state: present

    - name: Exec zsh into bashrc
      become: yes
      lineinfile:
        path: ~/.bashrc
        line: "exec zsh"
